.get-your-gift-block {
	position: relative;
	display: flex;
	justify-content: flex-end;
	margin: 50px 0 150px;

	@media (max-width: $md3+px) {
		margin: 50px 0 70px;
	}

	@media (max-width: 1200px) {
		justify-content: center;
	}

	&__decor_1 {
		position: absolute;
		z-index: 1;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		mix-blend-mode: darken;

		& img {
			width: 100%;
			height: 100%;
			object-fit: contain;

			@media(max-width: $md2+px) {
				object-fit: cover;
			}
		}

	}
	&__decor_2 {
		position: absolute;
		z-index: 2;
		top: 0;
		right: 0;
		width: 80%;
		height: 100%;
		mix-blend-mode: darken;

		& img {
			width: 100%;
			height: 100%;
			object-fit: contain;

			@media(max-width: $md2+px) {
				object-fit: cover;
			}
		}
	}

	&__img {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: -1;

/*		&:before {
			position: absolute;
			content: '';
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: rgba(#fff, 0.2);
			z-index: 1;
		}
*/
		& img {
			object-position: left;
		}
	}
	&__body {
		flex: 0 1 50%;
		min-height: 900px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		padding: 30px 15px;
		position: relative;
		z-index: 2;

		& .btn-default {
			align-self: flex-start;
		}

		@media (max-width: 1200px) {
			flex: 0 1 100%;
			max-width: 550px;
		}

		@media(max-width: $md2+px) {
			min-height: 700px;
		}

		@media(max-width: 575px) {
			min-height: 500px;
		}
	}
	&__suptitle {
		margin-left: -.71em;
		margin-bottom: 1em;
	}
	&__title {
		margin-bottom: 0.56em;
	}

	&__time {}
}


