.card-timer {
    position: relative;
    height: 600px;
    max-width: 430px;
    //padding-bottom: 114.3%;
    width: 100%;

    &__bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        
    }

    &__body {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 30px 20px 30px 20px;
    }

    &__inner {
        display: inline-block;
    }

    &__suptitle {
		margin-left: -.71em;
		margin-bottom: 1em;
	}
	&__title {
		margin-bottom: 0.56em;
    }
    
    & .btn-next {
        padding-left: 15px;
        padding-right: 10px;
    }
}